:8080 {
  root * /usr/share/caddy
  encode zstd gzip

  @immutable path /assets/*
  header @immutable Cache-Control "public, max-age=31536000, immutable"

  @noCache not path /assets/*
  header @noCache Cache-Control "no-cache"

  import /etc/caddy/Caddyfile.csp
  header X-Content-Type-Options "nosniff"
  header Strict-Transport-Security "max-age=31536000"
  header Cross-Origin-Opener-Policy "same-origin"
  header X-Frame-Options "DENY"
  header Permissions-Policy "camera=(), microphone=(), geolocation=()"
  header Referrer-Policy "strict-origin-when-cross-origin"

  try_files {path} /index.html
  file_server
}
